$background-red: #130c0a;
$rose-ebony: #613e33;
$dark-salmon: #e9967a;
$timberwolf: #dbcdc6;
$champagne-pink: #ead7d1;
$tropical-indigo: #907ad6;
$solaire-green: #77a03f;
$solaire-dark-green: #364a33;
$sif-grey: #5a6e66;
$cp-rosewater: #f5e0dc;
$cp-peach: #fab387;
$cp-green: #a6e3a1;
$cp-text: #cdd6f4;
$cp-bg: #1e1e2e;
$cp-surface0: #313244;
$cp-mauve: #cba6f7;
$cp-teal: #94e2d5;
$lala-orange: #fb4e02;
$lala-green: #50aa91;
$lala-white: #fffde6;
$lipstick-red: #f91515;
$background-black: #191919;
