@font-face {
  font-family: 'Toshiba Sat';
  src: url('../assets/fonts/WebPlus_ToshibaSat_8x14.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
$toshiba-sat: 'Toshiba Sat', sans-serif;
$jost-font: 'Jost', sans-serif;
$comics-neue: 'Comics Neue, sans-serif';
