@use 'fonts';
@use 'colors';

[data-directory="bonfire"] {
  font-family: fonts.$toshiba-sat;
  color: colors.$champagne-pink;
}

[data-picture="bonfire"] {
  border: 3px solid colors.$dark-salmon;
  content: url("../assets/img/bonfire.gif");
}

[data-list-title="bonfire"] {
  color: colors.$dark-salmon;
}

[data-info-bar="bonfire"] {
  font-family: fonts.$toshiba-sat; 
  color: colors.$champagne-pink; 
  background-color: colors.$rose-ebony;
}

[data-body="bonfire"] {
  background-color: colors.$background-red;
}

[data-list="bonfire"] {
  color: colors.$champagne-pink;
  font-family: fonts.$toshiba-sat;
}

a[data-list-item="bonfire"]:link {
  text-decoration: none;
  color: colors.$bushwick-green;
}

a[data-list-item="bonfire"]:visited {
  color: colors.$champagne-pink;
}

a[data-list-item="bonfire"]:hover {
  color: colors.$solaire-green; 
}

