@use 'abstracts/fonts' as f;
@use 'abstracts/colors' as c;

[data-directory='bonfire'] {
  font-family: f.$toshiba-sat;
  color: c.$champagne-pink;
}

[data-picture='bonfire'] {
  border: 3px solid c.$dark-salmon;
  content: url('../assets/img/bonfire.gif');
}

[data-info-bar='bonfire'] {
  font-family: f.$toshiba-sat;
  color: c.$champagne-pink;
  background-color: c.$rose-ebony;
}

[data-body='bonfire'] {
  background-color: c.$background-red;
}

[data-list='bonfire'] {
  color: c.$champagne-pink;
  font-family: f.$toshiba-sat;
}

[data-list-title='bonfire'] {
  color: c.$dark-salmon;
}

[data-list-item='bonfire'] {
  a {
    text-decoration: none;
    color: c.$solaire-dark-green;
  }

  a:visited {
    color: c.$champagne-pink;
  }

  a:hover {
    color: c.$solaire-green;
  }
}
