@use 'abstracts/fonts' as f;
@use 'abstracts/colors' as c;

.title {
  font-size: 1.7rem;
  text-align: center;
}

.directory {
  text-align: center;
  font-size: 3rem;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-areas: '. left right .';
  font-size: 1.2rem;
  text-align: center;
  column-gap: 80px;
  justify-items: center;
  align-items: center;
}

.info-bar {
  padding: 1rem;
  max-height: 10%;
}

.main-container {
  min-height: 90%;
}

.picture-container {
  grid-area: left;
}

.link-container {
  grid-area: right;
}

.blinking {
  animation: opacity 1s ease-in-out infinite;
  opacity: 1;
}

.links-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 3rem;
}

.open-comics-dialog-button {
  font-family: f.$jost-font;
  background-color: c.$rose-ebony;
  color: c.$champagne-pink;
  border-radius: 5px;
  font-size: 1.5rem;
  border: 2px solid c.$cp-mauve;
  outline: none;
  padding: 0.5rem;
}
