@use 'abstracts/fonts' as f;
@use 'abstracts/colors' as c;

#comics-dialog-launcher {
  background: none;
  width: 61.4px;
  height: 49.6px;
  filter: invert(85%) sepia(11%) saturate(299%) hue-rotate(328deg)
    brightness(107%) contrast(83%);
}

#comics-dialog-launcher:hover {
  background: none;
  filter: invert(98%) sepia(65%) saturate(3024%) hue-rotate(299deg)
    brightness(100%) contrast(97%);
  cursor: pointer;
}

#comic-strips-header {
  font-family: f.$toshiba-sat;
  color: c.$champagne-pink;
}

#comic-series-button-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#comics-dialog {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: c.$rose-ebony;
  border-color: c.$champagne-pink;
}

#comics-dialog:not([open]) {
  display: none;
}

#comic-title-div {
  display: flex;
  justify-content: space-between;
}

.comic-nav-button {
  font-family: f.$toshiba-sat;
  font-size: 2rem;
  background: none;
  border: none;
  color: c.$champagne-pink;
}

.comic-nav-button:hover {
  cursor: pointer;
}
