@font-face {
  font-family: "Toshiba Sat";
  src: url("../assets/fonts/WebPlus_ToshibaSat_8x14.woff") format("woff");
}
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400&display=swap');

$toshiba-sat: "Toshiba Sat", sans-serif;
$jost-font: "Jost", sans-serif;
