@use 'abstracts/fonts' as f;
@use 'abstracts/colors' as c;

#picture {
  max-width: 500px;
  border-radius: 5px;
}

#directory-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#open-comics-dialog-button {
  font-family: f.$comics-neue;
  background-color: c.$lala-green;
  color: c.$lala-white;
  border-radius: 5px;
  font-size: 1.5rem;
  border: 2px solid c.$lala-orange;
  outline: none;
  padding: 0.5rem;
}

#timer-button {
  background-color: c.$background-black;
  color: c.$lipstick-red;
  border-radius: 5px;
  font-size: 1.5rem;
  border: 2px solid c.$lipstick-red;
  outline: none;
  padding: 0.5rem;
}

#snoopy {
  background-color: c.$rose-ebony;
  color: c.$champagne-pink;
  fill: currentColor;
  height: 30px;
  width: 30px;
}

#snoopy:hover {
  color: pink;
}

#snoopy[data-comic='work'] {
  filter: invert(65%) sepia(74%) saturate(551%) hue-rotate(205deg) brightness(103%) contrast(94%);
}

#light-switch {
  height: 50px;
  width: 50px;
}

#timer-dialog {
  height: 300px;
  width: 300px;
}

#timer-input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#minutes-div,
#seconds-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#minutes-div>input,
#seconds-div>input {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: textfield;
  text-align: center;
  width: 10rem;
  height: 1rem;
}
