@use 'abstracts/breakpoints' as b;

@media only screen and (min-width: b.$mobile) and (max-width: b.$sm-devices) {
  .main-container {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .info-bar {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
  }

  .directory {
    font-size: 2rem;
  }

  .links-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 0.1rem;
    padding-top: 0px;
  }

  [data-picture] {
    width: 60%;
    margin: 1.5rem;
  }

  [data-list-title] {
    font-size: 1.4rem;
  }

  [data-list-item] {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: b.$sm-devices) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'left right';
    column-gap: 80px;
    justify-content: center;
    align-items: center;
  }

  .info-bar {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
  }

  .directory {
    font-size: 2rem;
  }

  .links-container {
    text-align: center;
    gap: 0.1rem;
    padding-top: 0px;
  }

  [data-picture] {
    width: 100%;
    margin: 1.5rem;
  }

  [data-list-title] {
    font-size: 1.4rem;
  }

  [data-list-item] {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: b.$lg-devices) {
  .main-container {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .info-bar {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
  }

  .directory {
    font-size: 2rem;
  }

  .links-container {
    text-align: center;
    gap: 0.1rem;
    padding-top: 0px;
  }

  [data-picture] {
    width: 60%;
    margin: 1.5rem;
  }

  [data-list-title] {
    font-size: 1.4rem;
  }

  [data-list-item] {
    font-size: 1.2rem;
  }
}

@media only screen and (min-height: b.$lg-devices) {
  .main-container {
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .info-bar {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
  }

  .directory {
    font-size: 2.3rem;
  }

  .links-container {
    text-align: center;
    gap: 0.1rem;
    padding-top: 0px;
  }

  [data-picture] {
    width: 80%;
    margin: 1.5rem;
  }

  [data-list-title] {
    font-size: 1.5rem;
  }

  [data-list-item] {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: b.$xl-devices) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-areas: '. left right .';
    column-gap: 80px;
    justify-content: center;
    align-items: center;
  }

  .info-bar {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
  }

  [data-directory='bonfire'] {
    font-size: 2rem;
  }

  [data-picture] {
    width: 100%;
  }

  .links-container[data-mode='bonfire'] {
    display: flex;
  }
}
