@media only screen and (min-width: 1400px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-areas: '. left right .';
    column-gap: 80px;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 1200px) {
  .main-container {
    display: flex;
    flex-direction: column;
    column-gap: 80px;
    justify-content: center;
    align-items: center;
  }

  .info-bar {
    display: flex;
    font-size: 1.2rem;
    justify-content: space-around;
  }
}
