@use 'abstracts/colors' as c;
@use 'abstracts/fonts' as f;

[data-picture='work'] {
  border: 3px solid c.$cp-mauve;
  content: url('../assets/img/hhkbGuy.png');
}

[data-list-title='work'] {
  color: c.$cp-peach;
  font-family: f.$jost-font;
  font-size: 1.5rem;
}

[data-info-bar='work'] {
  font-family: f.$jost-font;
  color: c.$cp-text;
  background-color: c.$cp-surface0;
}

[data-body='work'] {
  background-color: c.$cp-bg;
}

[data-list-item='work'] {
  color: c.$cp-mauve;
  font-family: f.$jost-font;

  a:link {
    text-decoration: none;
    color: c.$cp-rosewater;
  }

  a:visited {
    color: c.$cp-text;
  }

  a:hover {
    color: c.$cp-teal;
  }
}

[data-directory='work'] {
  font-family: f.$jost-font;
  color: c.$cp-mauve;
}

button[data-directory='work'] {
  background-color: c.$cp-surface0;
  color: c.$cp-text;
  border-radius: 5px;
  font-size: 1.5rem;
  border: 2px solid c.$cp-mauve;
  outline: none;
}
